*{
    font-family: sans-serif, Arial, Helvetica;
}

html{
    height: 100%;
}

body{
    background-image: linear-gradient(to top, #9D00FA, #570BD9);
}

main{
    background-color: #fff;
    /* min-width: 300px; */
    width: 80vw;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    box-shadow: -7px 5px 10px #1e004794;
        
}

h1{
    color: #0B26D9;
}

h2{
    color: #2400a7;
}

p{
    text-align: justify;
}